@import "./variables.scss";

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bg-light {
  background: $social-github !important;
}
.card-wrapper{
    margin: 5px 15px;
.card.card-row {
  display: flex;
  flex-direction: row;
  width: 30rem;
  height: 10rem;
  @media (max-width: 767px) {
    flex-direction: column;
    width: 13rem;
    height: 23rem;
  }
  .card-img {
    width: 40%;
    height: 100%;
    @media (max-width: 767px) {
      width: fit-content;
      height: fit-content;
    }

    img {
      border-radius: 12px;
      height: 10rem;
    }
  }
}
.class-body {
  width: 60%;
  height: 100%;
  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
  }
  .upper-case {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
  }
  td {
    padding: 0.75rem 0.25rem;
  }
  td.tl-right {
    padding: 0.75rem 0.25rem;
    text-align: start;
    font-size: 15px;
    font-weight: 400;
  }
  .feeTR {
    position: relative;
    .time-col {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      left: 8px;
      top: 40px;
      p {
        font-size: 15px;
        font-weight: 600;
        margin: 2px 13px;
      }
    }
  }
}
}
.font-bold{
  font-weight: $font-weight-bold;
}
.mr-btm{
  margin-bottom: 5px;
}